.social{
    display: flex;
    width: 50%;
    background:#f6f6f6;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 120px;

}
.social--title{
    color: #333f48;
    font-size: 18px;
}
.social-icon{
    display: flex;
    gap: 40px;
    font-size: 30px;
}