.subscribe {
    display: flex;
    width: 50%;
    background:#f6f6f6;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 120px;

}
.subscribe--title{
    color: #333f48;
    font-size: 18px;
}
.subscribe--input{
    background: #fff;
    display: flex;
    justify-content: space-around;
    border-radius: 2px;
    color: #333f48;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    padding: 6px 10px 6px 21px;
}
.subscribe--input input {
    border: none;
    outline: none;

}
