.container {
    background: red;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:white;
    height: 80px;
}

.header__img{
    padding: 0;
    height: 56px;

}
.header__menu{

}
.header__menu--list {
    display: flex;
    list-style: none;
    gap: 40px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.item--link {
    color: rgb(113,121,127);
}
.active a {
 border-bottom: 3px solid red;
 color: black;
   
}
.header__search{
    background:#f6f6f6;
    border-radius: 20px;
    padding: 10px;

}
.header__search input {
    outline: none;
    border: none;
    background: #f6f6f6;
    margin-left: 10px;
}
.header__group--icon{
    display: flex;
    gap: 30px;
    cursor: pointer;
}
.header__group--icon button {
    border: none;
    cursor: pointer;
    font-size: 20px;
    background: white;
}